.reloj, .reloj-out, .reloj-in{
    display: block;
    position: fixed;
    background-color: rgba(2, 44, 34, 0.872);
    color: rgb(134, 249, 228);
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    right: 1rem;
    z-index: 1;
    transition: all 0.5s ease;

}

.reloj-out{
    top: -50px;
    animation: salir 1s ease;
}

.reloj-in{
    top: 10px;
    animation: entrar .5s ease;
}


@keyframes salir  {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-50px);
    }
}

@keyframes entrar  {
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0);
    }
}