

.loader{
    background-color: white;
    height: 20px;
    width: 0px;
    border-radius: 10px;
    animation: loader 1s ease;
    margin: 0 50px;
}  

.fade{
    animation: fade 1s ease;
}

@keyframes loader {
    from {  
        width: 0px;
    }to{    
        width: 380px;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}